toolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover > .toolbarbutton-icon,
toolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover > .toolbarbutton-badge-stack,
toolbar .toolbarbutton-1:not([disabled="true"]):is([open],[checked],:hover:active) > .toolbarbutton-icon,
toolbar .toolbarbutton-1:not([disabled="true"]):is([open],[checked],:hover:active) > .toolbarbutton-badge-stack {
    box-shadow: inset 0 0 0 1px AccentColor;
    background-color: transparent !important;
}

:root {
    --toolbarbutton-border-radius: 4px !important;
}

#nav-bar toolbarbutton {
padding-left: 3px !important;
padding-right: 3px !important;
}

#nav-bar .toolbarbutton-1 > .toolbarbutton-icon {
  height: 32px !important;
  width: 32px !important;
  padding: 5px !important;
}
